/* Google Font */


/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* .debug {
    border: 1px solid red;
} */


body {
    font-family: 'open sans';
    background-color: white;
    color:black;
    font-size: 15px;
}

.container-1 {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
}

.container-2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.gap{
    gap: 30px;
}

.btn-blue {
    padding: 5px 15px;
    background-color: #0160FF;
    color: white;
    text-decoration: none;
}

.bg-blue {
    background-color: #B3D0E7;
}


/* Flex */
.d-flex {
    display: flex;
}

.space-bet {
    justify-content: space-between;
}


/* Header */
header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

/* Main */
    /* Jumbo */
    h1{
        font-size: 5em;
    }

    .jumbo-text {
        width: 30%;
    }

    .w-70 {
        width: 70%;
    }
    .jumbo-image {
        width: 100%;
        display: block;
    }

    .jumbo-content {
        position: relative;
        top: 130px;
    }

    .btn-margin {
        margin-top: 30px;
    }

    .arrow {
        position: relative;
        top: 145px;
        font-size: 2em;
    }

    /* businnes */
    #businnes {
        margin-top: 130px;
    }
/* Footer */