/* Google Font */


/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* .debug {
    border: 1px solid red;
} */


body {
    font-family: 'open sans';
    background-color: white;
    color:black;
    font-size: 15px;
}

.container-1 {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
}

.container-2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}

.container-3 {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px 10px;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
    
}

.gap{
    gap: 30px;
}

.gap10 {
    gap: 10px;
}

.btn-blue {
    padding: 5px 15px;
    background-color: #0160FF;
    color: white;
    text-decoration: none;
}

.bg-blue {
    background-color: #B3D0E7;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-top {
    padding: 30px 15px;
}

.p-bottom {
    padding-bottom: 40px;
}

/* Flex */
.d-flex {
    display: flex;
}

.space-bet {
    justify-content: space-between;
}

.center {
    justify-content: center;
}


/* Header */
header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1000;
    padding: 0px 20px;
}

 header a {
    color: black;
}

header nav ul:first-child li:not(:first-child) a :hover,
header nav ul:nth-child(2) li:not(:last-child) a :hover {
    border-bottom: 2px solid black;
}

/* Main */
    /* Jumbo */
    h1{
        font-size: 5em;
    }

    .jumbo-text {
        width: 30%;
    }

    .w-70 {
        width: 70%;
    }
    .jumbo-image {
        width: 100%;
        display: block;
    }

    .jumbo-content {
        position: relative;
        top: 130px;
    }

    .btn-margin {
        margin-top: 30px;
    }

    .arrow {
        position: relative;
        top: 145px;
        font-size: 2em;
    }

    /* businnes */
    #businnes {
        margin-top: 130px;
    }

    h2 {
        font-size: 40px;
        padding-bottom: 50px;
    }

    .padding-check {
        padding-right: 30px;
    }

    .border {
        border: 1px solid grey;
    }

    div.border {
        width: calc((100% - 20px) / 3);
        min-width: 300px;
    }

    .bord-bott {
        border-bottom: 1px solid grey;
        text-align: center;
    }

    .link-bus {
        text-align: center;
        width: 90%;
        padding: 13px;
    }

    .main-top {
            border-bottom: 1px solid grey#ffffff;
            padding-bottom: 70px;
        
    }
/* Footer */
footer {
    background-color: #000000;
    color: white;
}

footer a {
    color: white;
}

footer h3 {
    padding: 40px 0px 20px;
}

.footer-top {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 70px;
}